li {
  background-color: black;
  height: 30px;
}

body{
  background-image:url("Wallpaper-web.jpg");
  background-attachment: fixed;
  background-size:cover;

}

.tab-content{
  padding-top: 74px;
}

.content{
  background: rgba(0, 0, 0, 0.84);
  border:none ;
  border-radius: 8px;
}

.title-article{
  background: linear-gradient(180deg, #00E6FF 50.05%, #172A2C 90.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;

}

.navbar-toggler:hover{
  background-color: rgba(71, 71, 71, 0.705);
}

.judul-nav{
background: linear-gradient(92deg, #FFF 10%, #00E6FF 78%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#hoax-img{
  width:  80%;
  height: auto;
}

.footer{
  background-color: rgb(25, 25, 25);
}
